html{
    background-color: rgb(188, 236, 238);
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    text-decoration: underline;
}

h2{
    font-family: cursive;
}

h3{
    font-family:serif;
    text-decoration: underline;
}

.img{
    text-align: center;
}


.div1{
    width: 50%;
    margin: 0;
}


div.noticia {
    width: 70%;
    border-radius: 3%;
    margin: 20px auto;
    color: black;
    padding: 15px;
    background-color: rgb(161, 226, 205);

}

div.noticia h2 {
    float: left;
    margin-right: 15px;
    padding: 80px;
}

div.noticia img.derecha {
    float: right;
    margin-left: 15px;
}

div.reset {
    clear: both;
}

aside{
    margin: 0;
}

legend{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: cursive;
}

nav fieldset{
    background-color: rgb(235, 231, 231);
}

article fieldset{
    background-color: rgb(235, 231, 231);
}

a{
    text-decoration: none;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}